
@import "tailwindcss";

/* @tailwind base; */
@tailwind utilities;

/* Custom base styles */
@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

/* Custom utilities */
/* .glow-effect {
  box-shadow: 0 0 15px theme('colors.primary');
} */


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}
.delay-100 {
  animation-delay: 0.1s;
}
.delay-200 {
  animation-delay: 0.2s;
}
